@import "/app/scss/variables";

.navlinks {
	ul {
		li {
			a {
				border-bottom: 2px solid transparent;
				padding: .6rem .2rem;
				transition: all .15s;
				&:hover {
					color: $primary;
					border-bottom-color: $primary;
				}
			}
			a.active {
				border-bottom-color: $primary;
			}
		}
	}
}